[Desktop Entry]
Encoding=UTF-8
Name=Nilabit
Comment=Nilabit P2P Cryptocurrency
Comment[fr]=Nilabit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nilabit, eşten eşe kriptografik sanal para birimi
Exec=nilabit-qt %u
Terminal=false
Type=Application
Icon=nilabit128
MimeType=x-scheme-handler/nilabit;
Categories=Office;Finance;
